.experience
  background-color: #171717
  padding-top: 87px
  padding-bottom: 40px
  position: relative
  &__title
    font-weight: bold
    font-size: 32px
    line-height: 50px
    color: #fff
  &__header
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 25px
  &__text
    font-weight: bold
    font-size: 28px
    line-height: 50px
    color: #fff
    margin-bottom: 28px
  &__text-mobile
    display: none
  &__list
    padding: 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr
    column-gap: 30px
    row-gap: 30px
  &__item
    z-index: 9
    position: relative
    list-style: none
    padding: 20px
    font-weight: bold
    font-size: 20px
    line-height: 30px
    color: #000
    cursor: pointer
    background-color: #fff
    border-radius: 17px
    width: 100%
    height: 156px
    box-shadow: 0 0 30px rgba(0,0,0,1)
    display: flex
    align-items: start
    transition: 0.4s
    overflow-y: auto
    &:hover
      box-shadow: 0 15px 20px rgba(82, 94, 153, .4)
      transform: translateY(-6px)
  &__arrow
    margin-right: 15px
    transition: 0.3s
    &__move
      transition: 0.3s
      transform: rotate(90deg)
  &__hiddenlist
    display: none
    position: absolute
    top: 0
    right: 0
    background-color: #fff
    padding: 20px
    border-radius: 20px
    width: 100%
    height: 100%
    box-shadow: 0 15px 20px rgba(82, 94, 153, .4)
    z-index: 12
    transition: 0.4s
    &__open
      transition: 0.4s
      display: block
  &__hiddenul
    &__item
      font-weight: bold
      font-size: 15px
      line-height: 25px
      color: #000
      position: relative
      display: flex
      align-items: center
      &::before
        content: ''
        width: 5px
        height: 5px
        border-radius: 50%
        position: relative
        float: left
        background-color: #000
        margin-right: 20px
.avatar
  &-bcg
    width: 200px
    height: 211px
    border-radius: 100%
    background-color: #CDB27F
    &__frame
      margin-right: 65px
  &-img
    width: 200px
    height: 211px
    border-radius: 100%
